In [47]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats
import statsmodels.stats

In [48]:
data = pd.read_csv('C:\\Users\\juhic\\OneDrive\\Desktop\\master_dataset.csv')
data.drop(axis = 1, columns = 'Unnamed: 0', inplace = True)

data = data.astype({'is_volume':'category',
                    'author_sex':'category',
                    'author_exp':'category',
                    'book_size':'category',
                    'genre':'category',
                    'genre_category':'category'})
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34138 entries, 0 to 34137
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   book_id                 34138 non-null  int64
 1   book_name               34138 non-null  object
 2   genre                   34138 non-null  category
 3   page_count              34138 non-null  int64
 4   is_volume               34138 non-null  category
 5   rating_count            34138 non-null  int64
 6   author_name             34138 non-null  object
 7   author_sex              34138 non-null  category
 8   author_work_count       34138 non-null  int64
 9   author_fan_count        34138 non-null  int64
 10  author_rating_count     34138 non-null  int64
 11  author_review_count     34138 non-null  int64
 12  author_avg_rating       34138 non-null  float64
 13  log2_author_work_count  34138 non-null  float64
 14  author_exp              34138 non-null  category
 15  book_size               34138 non-null  category
 16  genre_category          34138 non-null  category
dtypes: category(6), float64(2), int64(7), object(2)
memory usage: 3.1+ MB

In [49]:
cols = ['rating_count','genre_category','book_size','is_volume',
        'page_count','author_work_count','author_fan_count','author_review_count',
        'author_sex','author_exp','author_rating_count','author_avg_rating']
df = data[cols]
df.head()

,rating_count,genre_category,book_size,is_volume,page_count,author_work_count,author_fan_count,author_review_count,author_sex,author_exp,author_rating_count,author_avg_rating
0,7597,fiction,average,yes,220,40,2192,8604,female,average,182878,3.93
1,6719,fiction,average,yes,279,40,2192,8604,female,average,182878,3.93
2,7431,fiction,average,yes,249,40,2192,8604,female,average,182878,3.93
3,7010,fiction,average,yes,243,40,2192,8604,female,average,182878,3.93
4,3724,fiction,average,yes,204,40,2192,8604,female,average,182878,3.93

In [50]:
# One Hot Encoding:

df['fiction'] = [1 if i == 'fiction' else 0 for i in df['genre_category']]
df['non_fiction'] = [1 if i == 'non-fiction' else 0 for i in df['genre_category']]

df['light'] = [1 if i == 'light' else 0 for i in df['book_size']]
df['bulky'] = [1 if i == 'bulky' else 0 for i in df['book_size']]

df['is_volume'] = [1 if i == 'yes' else 0 for i in df['is_volume']]


df['newbie_author'] = [1 if i == 'newbie' else 0 for i in df['author_exp']]
df['experienced_author'] = [1 if i == 'experienced' else 0 for i in df['author_exp']]

df['male_author'] = [1 if i == 'male' else 0 for i in df['author_sex']]

df.head()

<ipython-input-50-5c9a1336f98a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fiction'] = [1 if i == 'fiction' else 0 for i in df['genre_category']]
<ipython-input-50-5c9a1336f98a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['non_fiction'] = [1 if i == 'non-fiction' else 0 for i in df['genre_category']]
<ipython-input-50-5c9a1336f98a>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['light'] = [1 if i == 'light' else 0 for i in df['book_size']]
<ipython-input-50-5c9a1336f98a>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['bulky'] = [1 if i == 'bulky' else 0 for i in df['book_size']]
<ipython-input-50-5c9a1336f98a>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['is_volume'] = [1 if i == 'yes' else 0 for i in df['is_volume']]

,rating_count,genre_category,book_size,is_volume,page_count,author_work_count,author_fan_count,author_review_count,author_sex,author_exp,author_rating_count,author_avg_rating,fiction,non_fiction,light,bulky,newbie_author,experienced_author,male_author
0,7597,fiction,average,1,220,40,2192,8604,female,average,182878,3.93,1,0,0,0,0,0,0
1,6719,fiction,average,1,279,40,2192,8604,female,average,182878,3.93,1,0,0,0,0,0,0
2,7431,fiction,average,1,249,40,2192,8604,female,average,182878,3.93,1,0,0,0,0,0,0
3,7010,fiction,average,1,243,40,2192,8604,female,average,182878,3.93,1,0,0,0,0,0,0
4,3724,fiction,average,1,204,40,2192,8604,female,average,182878,3.93,1,0,0,0,0,0,0

In [51]:
#cols = ['genre_category','book_size','author_sex','author_exp']
#df = df.drop(axis = 1, columns = cols)
#df.head()

In [52]:
import statsmodels.api as sm

y = df['rating_count']                         

predictor_cols = ['fiction','non_fiction','light','bulky','is_volume',
                  'male_author','newbie_author','experienced_author',
                  'author_rating_count','author_avg_rating']
x = df[predictor_cols]
x = sm.add_constant(x)

model1 = sm.OLS(y,x).fit()
print(model1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           rating_count   R-squared:                       0.145
Model:                            OLS   Adj. R-squared:                  0.145
Method:                 Least Squares   F-statistic:                     578.8
Date:                Tue, 08 Mar 2022   Prob (F-statistic):               0.00
Time:                        22:43:28   Log-Likelihood:            -4.4946e+05
No. Observations:               34138   AIC:                         8.989e+05
Df Residuals:                   34127   BIC:                         8.990e+05
Df Model:                          10
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const               -3.376e+04   1.35e+04     -2.508      0.012   -6.02e+04   -7375.169
fiction              8911.6421   1705.276      5.226      0.000    5569.244    1.23e+04
non_fiction          7047.6607   2570.333      2.742      0.006    2009.721    1.21e+04
light               -5661.8046   1912.096     -2.961      0.003   -9409.576   -1914.033
bulky                1148.7870   1665.099      0.690      0.490   -2114.862    4412.436
is_volume           -6007.2410   1522.866     -3.945      0.000   -8992.109   -3022.373
male_author         -1619.1884   1476.721     -1.096      0.273   -4513.611    1275.234
newbie_author        2846.8157   1910.629      1.490      0.136    -898.082    6591.713
experienced_author  -1.982e+04   2154.718     -9.196      0.000    -2.4e+04   -1.56e+04
author_rating_count     0.0393      0.001     72.741      0.000       0.038       0.040
author_avg_rating    1.051e+04   3355.369      3.133      0.002    3934.493    1.71e+04
==============================================================================
Omnibus:                    73311.650   Durbin-Watson:                   1.370
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        532987262.036
Skew:                          19.016   Prob(JB):                         0.00
Kurtosis:                     613.949   Cond. No.                     2.86e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.86e+07. This might indicate that there are
strong multicollinearity or other numerical problems.

In [53]:
df['author_avg_rating_squared'] = df['author_avg_rating'].apply(lambda x: pow(x,10))

y = df['rating_count']                         

predictor_cols2 = ['fiction','non_fiction','light','bulky','is_volume',
                  'male_author','newbie_author','experienced_author',
                  'author_rating_count','author_avg_rating','author_avg_rating_squared']
x2 = df[predictor_cols2]
x2 = sm.add_constant(x2)

model2 = sm.OLS(y,x2).fit()
print(model2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           rating_count   R-squared:                       0.145
Model:                            OLS   Adj. R-squared:                  0.145
Method:                 Least Squares   F-statistic:                     526.7
Date:                Tue, 08 Mar 2022   Prob (F-statistic):               0.00
Time:                        22:43:31   Log-Likelihood:            -4.4946e+05
No. Observations:               34138   AIC:                         8.989e+05
Df Residuals:                   34126   BIC:                         8.990e+05
Df Model:                          11
Covariance Type:            nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
const                      2.781e+04   3.21e+04      0.866      0.386   -3.51e+04    9.07e+04
fiction                    8999.2119   1705.693      5.276      0.000    5655.996    1.23e+04
non_fiction                7012.1672   2570.258      2.728      0.006    1974.376     1.2e+04
light                     -5887.9415   1914.992     -3.075      0.002   -9641.389   -2134.494
bulky                      1184.4754   1665.100      0.711      0.477   -2079.176    4448.127
is_volume                 -5865.5152   1524.265     -3.848      0.000   -8853.126   -2877.904
male_author               -1655.0093   1476.743     -1.121      0.262   -4549.476    1239.457
newbie_author              2335.7052   1925.784      1.213      0.225   -1438.896    6110.307
experienced_author        -1.957e+04   2157.620     -9.072      0.000   -2.38e+04   -1.53e+04
author_rating_count           0.0393      0.001     72.624      0.000       0.038       0.040
author_avg_rating         -6799.0480   8852.713     -0.768      0.442   -2.42e+04    1.06e+04
author_avg_rating_squared     0.0065      0.003      2.113      0.035       0.000       0.012
==============================================================================
Omnibus:                    73292.343   Durbin-Watson:                   1.371
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        532009456.382
Skew:                          19.004   Prob(JB):                         0.00
Kurtosis:                     613.388   Cond. No.                     7.64e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.64e+07. This might indicate that there are
strong multicollinearity or other numerical problems.

In [54]:
df['author_rating_count_squared'] = df['author_rating_count'].apply(lambda x: pow(x,2))

y = df['rating_count']                         

predictor_cols3 = ['fiction','non_fiction','light','bulky','is_volume',
                  'male_author','newbie_author','experienced_author',
                  'author_rating_count','author_avg_rating','author_rating_count_squared']
x3 = df[predictor_cols3]
x3 = sm.add_constant(x3)

model3 = sm.OLS(y,x3).fit()
print(model3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           rating_count   R-squared:                       0.146
Model:                            OLS   Adj. R-squared:                  0.146
Method:                 Least Squares   F-statistic:                     582.8
Date:                Tue, 08 Mar 2022   Prob (F-statistic):               0.00
Time:                        22:43:32   Log-Likelihood:            -4.4944e+05
No. Observations:               34138   AIC:                         8.989e+05
Df Residuals:                   34127   BIC:                         8.990e+05
Df Model:                          10
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
const                       -3.709e+04   1.35e+04     -2.754      0.006   -6.35e+04   -1.07e+04
fiction                      9362.0526   1706.319      5.487      0.000    6017.610    1.27e+04
non_fiction                  6616.2886   2570.093      2.574      0.010    1578.820    1.17e+04
light                       -6011.8475   1912.056     -3.144      0.002   -9759.541   -2264.154
bulky                        1259.5603   1664.378      0.757      0.449   -2002.677    4521.798
is_volume                   -5809.2961   1522.486     -3.816      0.000   -8793.420   -2825.172
male_author                 -1661.2746   1476.001     -1.126      0.260   -4554.287    1231.737
newbie_author                2025.3561   1914.804      1.058      0.290   -1727.725    5778.437
experienced_author          -1.671e+04   2217.800     -7.535      0.000   -2.11e+04   -1.24e+04
author_rating_count             0.0342      0.001     33.154      0.000       0.032       0.036
author_avg_rating            1.155e+04   3358.391      3.440      0.001    4970.001    1.81e+04
author_rating_count_squared  3.803e-10    6.5e-11      5.848      0.000    2.53e-10    5.08e-10
==============================================================================
Omnibus:                    72862.611   Durbin-Watson:                   1.375
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        509533979.661
Skew:                          18.750   Prob(JB):                         0.00
Kurtosis:                     600.337   Cond. No.                     4.14e+14
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.14e+14. This might indicate that there are
strong multicollinearity or other numerical problems.

In [55]:
df.head()

,rating_count,genre_category,book_size,is_volume,page_count,author_work_count,author_fan_count,author_review_count,author_sex,author_exp,...,author_avg_rating,fiction,non_fiction,light,bulky,newbie_author,experienced_author,male_author,author_avg_rating_squared,author_rating_count_squared
0,7597,fiction,average,1,220,40,2192,8604,female,average,...,3.93,1,0,0,0,0,0,0,878871.747562,33444362884
1,6719,fiction,average,1,279,40,2192,8604,female,average,...,3.93,1,0,0,0,0,0,0,878871.747562,33444362884
2,7431,fiction,average,1,249,40,2192,8604,female,average,...,3.93,1,0,0,0,0,0,0,878871.747562,33444362884
3,7010,fiction,average,1,243,40,2192,8604,female,average,...,3.93,1,0,0,0,0,0,0,878871.747562,33444362884
4,3724,fiction,average,1,204,40,2192,8604,female,average,...,3.93,1,0,0,0,0,0,0,878871.747562,33444362884

In [57]:
y = df['rating_count']                         

predictor_cols4 = ['fiction','non_fiction','is_volume','male_author',
                   'page_count','author_work_count','author_fan_count','author_review_count',
                   'author_rating_count','author_avg_rating','author_rating_count_squared']
x4 = df[predictor_cols4]
x4 = sm.add_constant(x4)

model4 = sm.OLS(y,x4).fit()
print(model4.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           rating_count   R-squared:                       0.183
Model:                            OLS   Adj. R-squared:                  0.182
Method:                 Least Squares   F-statistic:                     762.0
Date:                Tue, 08 Mar 2022   Prob (F-statistic):               0.00
Time:                        22:45:21   Log-Likelihood:            -4.4869e+05
No. Observations:               34138   AIC:                         8.974e+05
Df Residuals:                   34127   BIC:                         8.975e+05
Df Model:                          10
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
const                         -2.5e+04   1.31e+04     -1.913      0.056   -5.06e+04     619.799
fiction                      9208.5679   1660.509      5.546      0.000    5953.915    1.25e+04
non_fiction                  7169.0598   2500.084      2.868      0.004    2268.811    1.21e+04
is_volume                   -6211.2299   1477.148     -4.205      0.000   -9106.490   -3315.970
male_author                 -2173.0033   1429.582     -1.520      0.129   -4975.032     629.026
page_count                     -5.0984      3.150     -1.619      0.106     -11.272       1.075
author_work_count             -18.0547      1.701    -10.616      0.000     -21.388     -14.721
author_fan_count               -0.9012      0.028    -32.675      0.000      -0.955      -0.847
author_review_count            -0.0424      0.048     -0.875      0.381      -0.137       0.052
author_rating_count             0.0677      0.002     30.321      0.000       0.063       0.072
author_avg_rating            8433.8784   3274.096      2.576      0.010    2016.540    1.49e+04
author_rating_count_squared -1.723e-10    7.5e-11     -2.298      0.022   -3.19e-10   -2.53e-11
==============================================================================
Omnibus:                    70551.075   Durbin-Watson:                   1.434
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        438377694.784
Skew:                          17.380   Prob(JB):                         0.00
Kurtosis:                     557.061   Cond. No.                     4.11e+14
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.11e+14. This might indicate that there are
strong multicollinearity or other numerical problems.

## OBSERVATION: SEX has p value > 0.05
Implies author gender has no effect on rating count!